
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=false, initial-scale=1.0">
	<title>Dine In | Slice Works Pizza</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://sliceworkspizza.com/xmlrpc.php">
	<!--[if lt IE 9]>
	<script src="http://sliceworkspizza.com/wp-content/themes/slice/js/html5.js"></script>
	<![endif]-->
	<meta name='robots' content='noindex,nofollow' />
<link rel="alternate" type="application/rss+xml" title="Slice Works Pizza &raquo; Feed" href="http://sliceworkspizza.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Slice Works Pizza &raquo; Comments Feed" href="http://sliceworkspizza.com/comments/feed/" />
<link rel='stylesheet' id='thickbox-css'  href='http://sliceworkspizza.com/wp-includes/js/thickbox/thickbox.css?ver=20121105' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='http://sliceworkspizza.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='twentythirteen-fonts-css'  href='//fonts.googleapis.com/css?family=Oswald%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CRokkitt%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CLeckerli+One%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='genericons-css'  href='http://sliceworkspizza.com/wp-content/themes/slice/fonts/genericons.css?ver=2.09' type='text/css' media='all' />
<link rel='stylesheet' id='twentythirteen-style-css'  href='http://sliceworkspizza.com/wp-content/themes/slice/style.css?ver=2013-07-18' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentythirteen-ie-css'  href='http://sliceworkspizza.com/wp-content/themes/slice/css/ie.css?ver=2013-07-18' type='text/css' media='all' />
<![endif]-->
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://sliceworkspizza.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://sliceworkspizza.com/wp-includes/wlwmanifest.xml" />
<link rel='prev' title='Gift Cards' href='http://sliceworkspizza.com/gift-cards/' />
<link rel='next' title='Take Out' href='http://sliceworkspizza.com/capitol-hill/menu/take-out/' />
<meta name="generator" content="WordPress 3.7.1" />
<link rel='canonical' href='http://sliceworkspizza.com/capitol-hill/menu/dine-in/' />
<link rel='shortlink' href='http://sliceworkspizza.com/?p=50' />

<script>
	var $ = jQuery.noConflict();
</script>
<script src="http://sliceworkspizza.com/wp-content/themes/slice/js/easySlider1.7.js" type="text/javascript"></script>
<script src="http://sliceworkspizza.com/wp-content/themes/slice/js/webwidget_slideshow_dot.js" type="text/javascript"></script>
</head>

<body class="page page-id-50 page-child parent-pageid-9 page-template page-template-page-menu-php single-author">
	<header id="masthead" class="site-header" role="banner">
		<div id="innerheader">
			<a class="home-link" href="http://sliceworkspizza.com/" title="Slice Works Pizza" rel="home">
				<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/logo.png">
			</a>
						<div id="navbar" class="navbar">
				<nav id="site-navigation" class="navigation main-navigation" role="navigation">
					<div class="menu-main-menu-capitol-hill-container"><ul id="menu-main-menu-capitol-hill" class="nav-menu"><li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-6"><a href="http://sliceworkspizza.com/capitol-hill/">Capitol Hill</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-20"><a href="http://sliceworkspizza.com/capitol-hill/menu/">Menus</a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://sliceworkspizza.com/capitol-hill/catering/">Catering</a></li>
<li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="http://sliceworkspizza.com/locations/">Locations</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://sliceworkspizza.com/contact-us/">Contact Us</a></li>
</ul></div>				</nav><!-- #site-navigation -->
			</div><!-- #navbar -->
					</div>
	</header><!-- #masthead -->

						<div id="bigpicture">
					<span href="link" title="link" style="background-image:url('http://sliceworkspizza.com/wp-content/uploads/2013/10/IMG_1994-modified-1920x408.jpg');">
						<div class="blackheadline">Simply the best.</div>
					</span>
				</div>


	<div id="outercontent">
		<div id="main" class="site-main">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<article id="post-50" class="post-50 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Dine In</h1>
													<a href="http://sliceworkspizza.com/wp-content/uploads/2013/10/takeoutmenu.pdf" title="Download/Print" id="downloadprint">Download/Print</a>
											</header><!-- .entry-header -->
					<div id="menucontainer">
												<h1 class="menucategory" style="margin: 0 0 29px;">Pizza</h1>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:none;">
									<h4 class="itemtitle"><span>NEOPOLITAN LG-</span>

																			<span>14</span>




									</h4>
									<p>(Traditional Cheese Pizza) Round &amp; thin crust<br />
16”/8 Slices</p>
								</div>
															<div class="menuitem"  style="float:none;">
									<h4 class="itemtitle"><span>SICILIAN-</span>

																			<span>17</span>




									</h4>
									<p>square &amp; thick crust<br />
16”/12 Slices</p>
								</div>
															<div class="menuitem"  style="float:none;">
									<h4 class="itemtitle"><span>GRANDMA-</span>

																			<span>17</span>




									</h4>
									<p>(Old fashioned Brooklyn style)<br />
Square &amp; medium crust<br />
16”/12 Slices</p>
								</div>
															</div>
								<div class="rightcolumn">
															</div>
								<div class="catdesc ontheright"><span style="color:#dd003d;font-family:'Leckerli One';">Additional Toppings $2.50 each</span>

<table>
<tr>
<td>Extra Cheese</td>
<td>Pepperoni</td>
<td>Broccoli</td>
<td>Onions</td>
</tr>
<tr>
<td>Ricotta</td>
<td>Salami</td>
<td>Eggplant</td>
<td>Pineapple</td>
</tr>
<tr>
<td>Bacon</td>
<td>Sausage</td>
<td>Garlic</td>
<td>Roasted Red</td>
</tr>
<tr>
<td>Chicken</td>
<td>Anchovies</td>
<td>Green Pepper</td>
<td>Peppers</td>
</tr>
<tr>
<td>Ham</td>
<td>Artichoke</td>
<td>Jalapenos</td>
<td>Spinach</td>
</tr>
<tr>
<td>Meatball</td>
<td>Hearts</td>
<td>Mushrooms</td>
<td>Tomato</td>
</tr>
<tr>
<td></td>
<td>Black Olives</td>
<td></td>
<td></td>
</tr>
</table></div>							</div>
														<h1 class="menucategory" >Gourmet Pizza</h1>
															<div class="catdesc">.<img src="http://sliceworkspizza.com/wp-content/uploads/2013/10/slice.png" /><span style="color:#dd003d;font-family:'Leckerli One';">“Slice Symbol” – Offered by the slice</span></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>BUFFALO CHICKEN-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>20</span>




									</h4>
									<p>grilled chicken, mozzarella and a special spicy buffalo wing sauce</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>GREEN CHILI-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>17</span>




									</h4>
									<p>housemade green chili sauce and mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>WHITE PIZZA-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>17</span>




									</h4>
									<p>seasoned ricotta, mozzarella and parmigiano</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>TOMATO PESTO-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>17</span>




									</h4>
									<p>fresh tomato, pesto, garlic, mozzarella and parmigiano</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>STUFFED MEAT-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>26</span>




									</h4>
									<p>ham, salami, pepperoni, sausage, meatball and mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>STUFFED VEGGIE-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>26</span>




									</h4>
									<p>zucchini, broccoli, eggplant spinach, garlic and mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>BACON CHEESEBURGER-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>20</span>




									</h4>
									<p>hamburger, bacon, cheddar &amp; mozzarella in a special sweet tomato sauce</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PIZZA ALLA VODKA-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>18</span>




									</h4>
									<p>vodka cream marinara sauce &amp; mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHICKEN VEGGIE-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>19</span>




									</h4>
									<p>grilled chicken, tomato, red onions, scallions, broccoli, garlic,<br />
basil &amp; mozzarella</p>
								</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>MARGHERITA-</span><span>18</span></h4>
									<p>pizza sauce, basil, fresh mozzarella and parmigiano</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>THE “WORKS”-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span><span>20</span></h4>
									<p>pepperoni, sausage, meatballs, mushrooms, onions, peppers &amp; mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>BAKED POTATO PIZZA-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span><span>20</span></h4>
									<p>sliced potato, scallions, mozzarella, cheddar, bacon &amp; ranch</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>WHITE CLAM-</span><span>18</span></h4>
									<p>fresh chopped clams, garlic, oregano &amp; parmigiano</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>WHITE VEGGIE-</span><span>17</span></h4>
									<p>tomato, red onions, scallions, broccoli, garlic, basil &amp;<br />
mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>WHITE SPINACH-</span><span>18</span></h4>
									<p>seasoned ricotta, spinach, mozzarella, garlic and parmigiano</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>HAWAIIAN-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span><span>17</span></h4>
									<p>ham, pineapple, pizza sauce and mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>BBQ CHICKEN-</span><span>20</span></h4>
									<p>grilled chicken, BBQ sauce, red onion, scallions, mozzarella &amp; cheddar</p>
								</div>
															</div>
															</div>
														<h1 class="menucategory" >Slices &amp; Specialty Breads</h1>
															<div class="catdesc">.<span style="color:#dd003d;font-family:'Leckerli One';">Slices $.50 per topping</span></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHEESE SLICE-</span>

																			<span>2,5</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>SICILIAN SLICE-</span>

																			<span>3</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>GRANDMA SLICE-</span>

																			<span>3</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>GOURMET SLICE-<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/slice.png" /></span>

																			<span>4</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>STUFFED SLICE-</span>

																			<span>5</span>




									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>CHICKEN ROLL-</span><span>7</span></h4>
									<p>chicken parmigiana wrapped in dough and baked to perfection</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>SPINACH WHEEL-</span><span>5</span></h4>
									<p>spinach, pepperoni, seasoned ricotta and mozzarella rolled in dough</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>STROMBOLI-</span><span>7</span></h4>
									<p>ham, salami, pepperoni, sausage, onions, green peppers, mushrooms and mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>CHEESE CALZONE-</span><span>7</span></h4>
									<p>seasoned ricotta and mozzarella (Additional Toppings $.50 each)</p>
								</div>
															</div>
															</div>
														<h1 class="menucategory" >Sub Sandwiches</h1>
															<div class="catdesc">.<span style="color: rgb(221, 0, 61); font-family: 'Leckerli One'; float: left; width: 390px; display: block; margin: 0px 62px 12px 6px;">Cold <span style="color:#231f20;font-family:rokkitt;font-size:14px;">(Served with lettuce, tomato, cheese, toasted upon request)</span></span><span style="color: rgb(221, 0, 61); font-family: 'Leckerli One'; float: left; width: 390px; text-align: left; display: block; margin: 0px 0px 12px;">Hot</span><div style="clear:both"></div></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>HAM-</span>

																			<span>7</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>ITALIAN-</span>

																			<span>7</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>DI PARMA SPECIAL-</span>

																			<span>9</span>




									</h4>
									<p>Prosciutto di parma, fresh mozzarella, roasted red peppers</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>TURKEY-</span>

																			<span>7</span>




									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>MEATBALL PARM-</span><span>6</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>CHICKEN PARM-</span><span>7</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>VEAL PARM-</span><span>9</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>EGGPLANT PARM-</span><span>6</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>SAUSAGE &#038; PEPPERS-</span><span>6</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>BUFFALO CHICKEN-</span><span>7</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>PHILLY CHEESESTEAK-</span><span>8</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>CHICKEN CUTLET-</span><span>7</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>SHRIMP PARM-</span><span>9</span></h4>
																	</div>
															</div>
															</div>
														<h1 class="menucategory" >Appetizers</h1>
															<div class="catdesc">.</div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>FRIED CALAMARI-</span>

																			<span>10</span>




									</h4>
									<p>lightly battered and fried to perfection. Served with marinara sauce &amp; lemon</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>MOZZARELLA CAPRESE-</span>

																			<span>7</span>




									</h4>
									<p>sliced mozzarella served over fresh tomatoes with E.V.O.O. and spices</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>COLD ANTIPASTO-</span>

																			<span>12</span>




									</h4>
									<p>genoa salami, prosciutto di parma, provolone, fresh mozzarella, roasted red peppers,    artichoke hearts and sicilian green olives drizzled with E.V.O.O. and balsamic vinegar</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>BUFFALO WINGS-</span>

																			<span>9</span>




									</h4>
									<p>dipped in a medium hot sauce and served with blue cheese</p>
								</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>FRIED MOZZARELLA-</span><span>6</span></h4>
									<p>served with tomato sauce</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>MEATBALLS-</span><span>3,5</span></h4>
									<p>“best in the west” housemade meatballs</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>GARLIC BREAD-</span><span>2,5</span></h4>
									<p>topped with garlic, butter and parsley w/cheese</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>FRENCH FRIES-</span><span>3</span></h4>
																	</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>GARLIC KNOTS-</span><span>.40 ea.</span></h4>
									<p>served with tomato sauce</p>
								</div>
															</div>
															</div>
														<h1 class="menucategory" >Soups</h1>
															<div class="catdesc">.</div>


							<div class="menuitems">
								<div class="leftcolumn" style="max-width: 827px; width: 100%;">

															<div class="menuitem" style="max-width: 827px; width: 100%;" style="float:left;">
									<h4 class="itemtitle"><span>STRACCIATELLI ROMANO-</span>

																			<span>4</span>




									</h4>
									<p>baby spinach egg drop soup with romano &amp; parmigiano cheese</p>
								</div>
															<div class="menuitem" style="max-width: 827px; width: 100%;" style="float:left;">
									<h4 class="itemtitle"><span>TORTELLINI IN BRODO-</span>

																			<span>4</span>




									</h4>
									<p>cheese filled pasta rings in a fresh chicken broth</p>
								</div>
															</div>
								<div class="rightcolumn">
															</div>
															</div>
														<h1 class="menucategory" >Salads</h1>
															<div class="catdesc">.<span style="color:#dd003d;font-family:'Leckerli One';">Add chicken $3 / shrimp $4</span></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>FOUR SEASONS SALAD-</span>

																			<span>10</span>




									</h4>
									<p>field greens topped with slice pears, candied walnuts, dried cranberries, goat cheese topped with our housemade maple raspberry vinaigrette and served over a “SLICE” of seasoned flatbread</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHOPPED SALAD-</span>

																			<span>10</span>




									</h4>
									<p>lettuce, tomato, carrots, celery, scallions, cucumbers, roasted red peppers, kalamata olives nicely chopped, tossed in our gorgonzola vinaigrette dressing and served over a “SLICE” of seasoned flatbread</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>MEATBALL SALAD-</span>

																			<span>9</span>




									</h4>
									<p>a larger version of our house salad topped with the house made meatballs, tomato sauce, house vinaigrette and served over a “SLICE” of seasoned   flatbread………JUST TRY IT!!!</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>STRAWBERRY SPINACH SALAD-</span>

																			<span>10</span>




									</h4>
									<p>baby spinach, strawberries, toasted almonds, goat cheese, topped with our housemade maple raspberry vinaigrette and served over a “SLICE” of seasoned flatbread</p>
								</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>COBB SALAD-</span><span>9</span></h4>
									<p>a larger version of our house salad topped with grilled chicken, bacon, avocado and hard-boiled egg</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>CAESAR SALAD-</span><span>6</span></h4>
									<p>romaine lettuce tossed with our housemade creamy Caesar topped with croutons &amp; parmigiano cheese</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>CHEF SALAD-</span><span>9</span></h4>
									<p>tossed salad topped with ham, turkey, provolone, shredded cheddar and hard-boiled egg</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>BUFFALO CHIX SALAD-</span><span>9</span></h4>
									<p>tossed salad topped with buffalo chicken tenders</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>HOUSE SALAD-</span><span>4</span></h4>
									<p>lettuce, tomatoes, cucumbers, olives and roasted red peppers</p>
								</div>
															</div>
															</div>
														<h1 class="menucategory" >Pasta</h1>
															<div class="catdesc">.<span style="color:#dd003d;font-family:'Leckerli One';">Includes Salad & Bread</span></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PENNE ALLA VODKA-</span>

																			<span>13</span>




									</h4>
									<p>penne pasta tossed in a pink vodka cream sauce with ground beef</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PASTA WITH TOMATO SAUCE-</span>

																			<span>9</span>




									</h4>
									<p>a smooth, fully cooked, traditional Sunday sauce&#8230;NO MEAT!!!!! choice of spaghetti, linguini or penne</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PASTA MARINARA-</span>

																			<span>9</span>




									</h4>
									<p>chunky hand crushed roma tomato sauce with few but<br />
delicious ingredients <span style="color: #000000;">choice of spaghetti, linguini or penne</span></p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>LASAGNA-</span>

																			<span style="width:15px;">&nbsp;</span>




									</h4>
									<p>layers of pasta with 3 cheeses, ground beef, sausage, tomato sauce and mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>LINGUINE WITH CLAM SAUCE (WHITE OR RED)-</span>

																			<span>14</span>




									</h4>
									<p>chopped clams in a white wine or marinara sauce</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>MANICOTTI-</span>

																			<span>12</span>




									</h4>
									<p>pasta tubes stuffed in-house with seasoned ricotta and topped with tomato sauce and Mozzarella</p>
								</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>GNOCCHI AL FRESCO-</span><span>13</span></h4>
									<p>potato dumplings with tomato sauce, fresh basil &amp; mozzarella. Topped with Romano &amp; Parmigiano</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>RAVIOLI-</span><span>11</span></h4>
									<p>cheese-filled, topped with tomato sauce and mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>BAKED PENNE-</span><span>12</span></h4>
									<p>penne, tomato sauce &amp; ricotta topped with mozzarella</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>FETTUCCINE ALFREDO-</span><span>12</span></h4>
									<p>classic italian cream and cheese sauce</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>PENNE BOLOGNESE-</span><span>11</span></h4>
									<p>penne pasta topped with meat sauce</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>PASTA WITH MEATBALLS or SAUSAGE-</span><span>11</span></h4>
									<p>served with tomato sauce and choice of spaghetti, linguini or penne</p>
								</div>
															</div>
															</div>
														<h1 class="menucategory" >Entrees</h1>
															<div class="catdesc">.<span style="color:#dd003d;font-family:'Leckerli One';">Includes Salad, Bread & side of Pasta</span></div>


							<div class="menuitems">
								<div class="leftcolumn" >

															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHICKEN PARMIGIANA-</span>

																			<span>14</span>




									</h4>
									<p>breaded and lightly fried, topped with tomato sauce &amp;<br />
mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>VEAL PARMIGIANA-</span>

																			<span>17</span>




									</h4>
									<p>breaded and lightly fried, topped with tomato sauce &amp;<br />
mozzarella</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>SHRIMP PARMIGIANA-</span>

																			<span>17</span>




									</h4>
									<p>breaded jumbo shrimp lightly fried, topped with tomato sauce &amp; mozzarella</p>
								</div>
															</div>
								<div class="rightcolumn">
															<div class="menuitem">
									<h4 class="itemtitle"><span>EGGPLANT PARMIGIANA-</span><span>11</span></h4>
									<p>layers of breaded eggplant, tomato sauce and mozzarella baked to perfection</p>
								</div>
															<div class="menuitem">
									<h4 class="itemtitle"><span>EGGPLANT FLORENTINA-</span><span>13</span></h4>
									<p>breaded eggplant stuffed with ricotta and baby spinach than topped with tomato sauce and mozzarella</p>
								</div>
															</div>
															</div>
												</div>
					<div style="clear: both"></div>
				</article><!-- #post -->


		</div><!-- #content -->
	</div><!-- #primary -->


			</div><!-- #main -->
			<div id="city"></div>
		</div><!-- #outercontent -->
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div id="innerfooter">
				<div id="testimonial">
					<span class="bqstart">&#8220;</span>
					<p>Sliceworks is an amazing local business which has been very supportive of the Greater Capitol Hill community since it  opened next to Argonaut.</p>

						<div style="clear: both"></div>
				</div>
				<div id="award"><img src="http://sliceworkspizza.com/wp-content/themes/slice/images/winner.png" /></div>
				<div id="socialmedia">
					<h3><span>Connect</span></h3>
											<a href="http://www.yelp.com/biz/sliceworks-denver" class="yelp"></a>
											<a href="https://foursquare.com/v/sliceworks-pizza/4ebf2071f9f4d3ffc2dfee9e" class="foursquare"></a>
											<a href="http://www.facebook.com/pages/SliceWorks-Pizza/217416284992656" class="facebook"></a>
											<a href="http://twitter.com/SliceworksPizza" class="twitter"></a>
									<br />
					<span id="copy">&copy; SliceWorks. All Right Reserved.
					<br />
					&nbsp;&nbsp;Web Design By: <a href="http://www.eye9design.com" target="_blank">Eye9 Design</a>
					</span>
				</div>
				<div style="clear: both"></div>
				<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-40"><a href="http://sliceworkspizza.com/capitol-hill/">Capitol Hill</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-39"><a href="http://sliceworkspizza.com/capitol-hill/menu/">Menus</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://sliceworkspizza.com/capitol-hill/catering/">Catering</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://sliceworkspizza.com/locations/">Locations</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://sliceworkspizza.com/gift-cards/">Gift Cards</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://sliceworkspizza.com/contact-us/">Contact Us</a></li>
</ul></div>				<div style="clear: both"></div>
			</div>
		</footer><!-- #colophon -->
	</div><!-- #page -->
<scripts>
	<script type='text/javascript'>
/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\/\/sliceworkspizza.com\/wp-includes\/js\/thickbox\/loadingAnimation.gif","closeImage":"http:\/\/sliceworkspizza.com\/wp-includes\/js\/thickbox\/tb-close.png"};
/* ]]> */
</script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/underscore.min.js?ver=1.4.4'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/shortcode.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-admin/js/media-upload.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.44.0-2013.09.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/sliceworkspizza.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.5.3'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/themes/slice/js/functions.js?ver=2013-07-18'></script>
</scripts>
</body>
</html>
